body{ 
    /*--COLOR DE FONDO EN TODA LA PAGINA--*/
    background: #1c1c1c;
}

.box-blue{
    /*--CAJA AZUL CIELO, CON MARGENES Y POSICION ABSOLUTA--*/
    /*--Z-INDEX FUERZA A ESTE ELEMENTO A QUE SE MUESTRE ENCIMA DE CUALQUIER OTRO DIV--*/
    background-color: skyblue;
    width:160px;
    height:120px;
    margin-left:20px;
    margin-top:40px;
    position: absolute;
    z-index:99;
}

.box-yell{
    /*--CAJA AMARILLA, HIJO DE CAJA AZUL--*/
    background-color: yellow;
    width:40px;
    height:40px;
    position: relative;
    margin-left:20px;
    margin-top:20px;
}

.box-red{
    /*--CAJA ROJA, CON MARGENES Y POSICION ABSOLUTA. ESTE ELEMENTO SE MOSTRARÁ DEBAJO DE LA CAJA AZUL--*/
    position: absolute;
    background-color: indianred;
    width:160px;
    height:120px;
    margin-left:100px;
    margin-top:140px;
}

.box-gre{
    /*--CAJA VERDE, HIJO DE CAJA AZUL--*/
    background-color: green;
    width:40px;
    height:40px;
    position: relative;
    margin-left:100px;
    margin-top:60px;
}