*{

padding: 2px;
margin: 0px;
box-sizing: border-box;
color:#9aa0a6;
}



body{

    background: #202124;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/*--------- HEADER ----------*/

header{

    width: auto;
    height: 60px;
}

.foto_yo{

    width: 35px;
    height: 35px;
    border-radius:150px;
}

.menu_icon{

    width: 40px;
    height: 40px;
}
.menu_icon:hover{
    
    border-radius:150px;
}

header nav{

    display: flex;
    justify-content: flex-end;
}

header > nav > .nav_derecha{

    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}

header > nav > ul > li> a{

    margin-right: 10px;
    color:white;
    text-decoration-line: none;

}
    /* Cuando pasa el ratón por encima de la letra se subraya.*/
header > nav > ul > li> a:hover{ 

    text-decoration: underline;
}

header > nav > .nav_izquierda{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-left: 10px;
}

.nav_izquierda li a{
    
    color:#9aa0a6;
}




/*--------- MAIN ----------*/

main{

    text-align: center;
}


main .logo_google{

    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}


/*--------- ITEMS CENTRO ----------*/


.div_contenedor{

    display:flex;
    justify-content:center;
    
    
}
.div_item1{

    margin: 20px;
    padding: 17px;
    display: flex;
    
}

.div_item1>div{

    margin: auto;
    padding: 18px;
}

.foto_alex{

    width: 66%;
    justify-content: center;
    margin: auto;
    display: flex;
    
}

.foto_laia{

    width: 66%;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.div_item2{

    margin: 20px;
    padding: 18px;
    display: flex;
}

.div_item2>div{ 
    
    margin: auto;
    padding: 10px;}

div.div_contenedor>div.div_item1>div>ul{

    text-align: center;
    margin-top: 12px;
}

div.div_contenedor>div.div_item1>div>ul>li{
    
    text-align: center;
    margin: 5px;
    list-style: none;
}

div.div_contenedor>div.div_item2>div>ul{

    text-align: center;
    margin: 12px;
    list-style: none;
    
    
}

div.div_contenedor>.div_item2>div>ul>li{

    margin: 5px;
    text-align: center;
    list-style: none;
}



/*--------- FOOTER ----------*/

footer{

    position: fixed; right: 0;
    bottom: 0;
    left: 0;
    background: #171717;
    height: auto;
    width: 100%;
    padding-top: 2px;
    align-self:auto;
    flex-grow:inherit;
    

}


footer a{

    margin-left: 8px;
    text-decoration-line: none;
    min-width: 20%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-size: 14px;
    padding: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:clip;
    
}

footer a:hover{

    text-decoration: underline;
}

.simbolo_footer{

    height: 16px;
    margin: auto;
    

}

/* -----Para que al ser responsive el texto no quede superpuesto,
        he insertado los valores text-overflow, overflow y white-space,
        de esta manera conseguimos que el responsive sea efectivo, agrupando
        las palabras en sus cápsulas ----- */

footer div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    order: 1;
    justify-content: space-between;
}

.footer_first{

    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
    font-size: 15px;
}

.footer_left{

    justify-content: flex-start;
    min-width: 30%;
    order: 1;
}


.footer_right{

    justify-content: flex-end;
    min-width: 30%;
    order: 3;
    
}

