body{ 
    /*--COLOR DE FONDO EN TODA LA PAGINA--*/
    background: #1c1c1c;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #bdc1c6;
}

/*--HEAD--*/
.goghead{
    height:10%;
    display: flex;
}

.goghead-left{
    width: 20%;
    justify-content: flex-start;
    display: flex;
}


.goghead-right{
    width: 80%;
    justify-content: flex-end;
    display: flex;
}


.goghead-link{
    margin: 10px;
}

.goghead-link:hover{
    text-decoration:underline;
}

.goghead-icon{
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    line-height: 135%;
}

.goghead-button{
    background-color:blue;
    font-size: 15px;
    padding-left:10px;
    padding-right:10px;
    line-height: 240%;
    cursor: pointer;
    border-radius: 7px;
}

/*--BODY--*/
.gogbody{
    margin-top: 5%;
    height: 550px;
    width: 100%;
    background-color: red;
    display: flex;
}

.gog-inputcss{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: #e8eaed;
    word-wrap: break-word;
}

/*--FOOT--*/
.gogfoot{
    margin-top: 25%;
    background: #171717;
}

.gogfoot1{
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
    font-size: 15px;
    color: #9aa0a6;
}

.gogfoot2{
    display: flex;
}

.gogfoot2-1{
    width:50%;
    justify-content: flex-start;
    display: flex;
}

.gogfoot2-2{
    width:50%;
    justify-content: flex-end;
    display: flex;
}

.gogfoot2-info{
    margin-top: 15px;
    margin-left:10px;
    margin-right: 10px;
}

.gogfoot2-info:hover{
    text-decoration:underline;
}